.idea
.venv
data/*
activate.sh
InternetAccessColombia-DataCleaning/Limpieza/.idea
InternetAccessColombia-DataCleaning/Limpieza/data
InternetAccessColombia-DataCleaning/Limpieza/data/df_unificado_limpio.csv
InternetAccessColombia-DataCleaning/.env

*.csv
